{% extends 'techshopapp/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
        <img width="500px" class="img-fluid" src="https://kotofoto.ru/product_img/69/488837/488837_smartfon_samsung_galaxy_z_flip3_f711b_128gb_beigem.jpg?v=1630324632"
             alt="Item Image">
            <p>{{ item.name }}</p>
            <p>{{ item.description }}</p>
            <p>{{ item.price }}</p>

        <button type="button" class="btn btn-outline-primary" >
            <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'catalog' %}">Обратно к каталогу</a>

        </button>
        <button type="button" class="btn btn-outline-primary" >
            <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'feedback_create' %}">Оставить отзыв</a>

        </button>
<!--        <a href="{% url 'feedback_list' feedback.pk %}" class="btn btn-primary">Все отзывы о товаре</a>-->

{% endblock %}